<%= form_for @singer do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :song %>
    <%= f.text_field :song %>
  </p>
  <p>
    <%= f.submit 'Update singer' %>
  </p>
<% end %>